<div class="main-container">
    <mat-toolbar color="warn" class="topbar telative">
        <div class="navbar-header">
            <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed" style="vertical-align: bottom;">
                <mat-icon>menu</mat-icon>
            </button><b>
                <span style="vertical-align: middle;">
                    <mat-icon>storefront</mat-icon>
                </span>
            </b>
            <span fxShow="false" fxShow.gt-xs>
                Aubay Test System
            </span>
        </div>
        <span fxFlex></span>
        <app-header></app-header>
    </mat-toolbar>